In [1]:
# pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-py2.py3-none-any.whl (342 kB)
     |████████████████████████████████| 342 kB 3.4 MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.15.8)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28
Note: you may need to restart the kernel to use updated packages.

In [1]:

import pandas as pd

In [2]:
df =pd.read_csv("luggageshare_data.csv")

In [3]:
df

,Email Address,FirstName LastName,depature_time,departure_city,destination city,arrival_time,package weight,cost,user_rating
0,Johnathan_Allington817500858@eirey.tech,Johnathan Allington,11/25/8339 9:00 PM,Jersey City,Orlando,2/12/8342 2:53 PM,7.515023,68,2
1,Wendy_Ellis37084363@grannar.com,Wendy Ellis,1/1/7297 5:02 PM,Norfolk,Tallahassee,6/10/7202 12:52 PM,12.617167,33,1
2,Bob_Ripley1377536322@liret.org,Bob Ripley,5/30/2643 12:09 AM,Phoenix,Quebec,4/11/5862 10:22 AM,3.319368,24,3
3,Ilona_Reading1686730336@supunk.biz,Ilona Reading,11/7/0381 11:31 AM,Venice,Sacramento,2/1/2951 7:06 PM,1.917473,42,2
4,Sydney_Butler1236553615@hourpy.biz,Sydney Butler,11/7/3740 12:22 PM,Long Beach,Baltimore,5/9/7156 3:26 PM,14.515218,20,3
...,...,...,...,...,...,...,...,...,...
19995,Fred_Button1993881992@zorer.org,Fred Button,7/1/3082 4:41 PM,Saint Paul,Salem,8/16/9361 1:16 AM,14.264121,30,1
19996,Bob_Matthews3860919@acrit.org,Bob Matthews,11/22/5227 3:39 PM,San Antonio,Richmond,3/3/6745 10:08 AM,0.497672,74,4
19997,Clint_Wise2077474467@ubusive.com,Clint Wise,5/23/6895 10:05 PM,Saint Paul,Nashville,9/27/8853 4:57 PM,18.376407,48,3
19998,Lucas_Nicholls1354762053@bulaffy.com,Lucas Nicholls,11/19/8881 9:54 PM,Colorado Springs,San Diego,4/5/2460 8:58 AM,5.597067,46,3
19999,Nicholas_Devonport926992064@bauros.biz,Nicholas Devonport,4/2/0803 11:54 AM,Otawa,Salem,5/2/2256 3:36 AM,7.390905,78,4

In [7]:
df[["Email Address", "FirstName LastName"]].sample(frac=0.05,axis='rows')

                               Email Address FirstName LastName
14499     Anthony_Rogers1782474217@tonsy.org     Anthony Rogers
745          Hope_Hancock190562995@gmail.com       Hope Hancock
5438         Susan_Noon1449604764@nanoff.biz         Susan Noon
14880     Kieth_Morris1995436859@womeona.net       Kieth Morris
17432       Clint_Collins579206271@brety.org      Clint Collins
...                                      ...                ...
1121        Hadley_Fields41156039@eirey.tech      Hadley Fields
6062   Sebastian_Tyrrell901179611@kideod.biz  Sebastian Tyrrell
10726           Amy_Roth961595404@naiker.biz           Amy Roth
12084      Julian_Pratt1532138178@iatim.tech       Julian Pratt
13097      Oliver_Edwards86039639@nimogy.biz     Oliver Edwards

[800 rows x 2 columns]

In [10]:
user_list = []
for i in range(20):
    user_list.append(df[["Email Address", "FirstName LastName"]].sample(frac=0.05,axis='rows'))

user_df = pd.concat(user_list)

In [21]:
user_df = user_df.reset_index(drop = True)

In [22]:
df[["Email Address", "FirstName LastName"]] = user_df[["Email Address", "FirstName LastName"]]

In [28]:
df.to_csv("luggagesharedata.csv", index= False)

In [29]:
df

,Email Address,FirstName LastName,depature_time,departure_city,destination city,arrival_time,package weight,cost,user_rating
0,Dalia_Windsor1927450756@joiniaa.com,Dalia Windsor,11/25/8339 9:00 PM,Jersey City,Orlando,2/12/8342 2:53 PM,7.515023,68,2
1,Katelyn_Gregory1015670840@hourpy.biz,Katelyn Gregory,1/1/7297 5:02 PM,Norfolk,Tallahassee,6/10/7202 12:52 PM,12.617167,33,1
2,Daria_Gilmore878290366@brety.org,Daria Gilmore,5/30/2643 12:09 AM,Phoenix,Quebec,4/11/5862 10:22 AM,3.319368,24,3
3,Jessica_Brooks284941408@eirey.tech,Jessica Brooks,11/7/0381 11:31 AM,Venice,Sacramento,2/1/2951 7:06 PM,1.917473,42,2
4,Rowan_Hunter1833032334@gmail.com,Rowan Hunter,11/7/3740 12:22 PM,Long Beach,Baltimore,5/9/7156 3:26 PM,14.515218,20,3
...,...,...,...,...,...,...,...,...,...
19995,Harry_Shaw1476325382@guentu.biz,Harry Shaw,7/1/3082 4:41 PM,Saint Paul,Salem,8/16/9361 1:16 AM,14.264121,30,1
19996,Chris_Swift1593414604@ubusive.com,Chris Swift,11/22/5227 3:39 PM,San Antonio,Richmond,3/3/6745 10:08 AM,0.497672,74,4
19997,Carl_Calderwood833058131@jiman.org,Carl Calderwood,5/23/6895 10:05 PM,Saint Paul,Nashville,9/27/8853 4:57 PM,18.376407,48,3
19998,Denis_Appleton686575359@hourpy.biz,Denis Appleton,11/19/8881 9:54 PM,Colorado Springs,San Diego,4/5/2460 8:58 AM,5.597067,46,3
19999,Liam_Salt1011276449@sveldo.biz,Liam Salt,4/2/0803 11:54 AM,Otawa,Salem,5/2/2256 3:36 AM,7.390905,78,4

In [32]:
df[["Email Address", "FirstName LastName", "user_rating"]].to_csv("user_index.csv", index = False)
df[["Email Address","depature_time",	"departure_city",	"destination city",	"arrival_time"]].to_csv("traveller.csv", index = False)
df[["Email Address","package weight",	"cost"]].to_csv("package.csv", index = False)